# App
APP_ENV=production
APP_VERSION=1.0.0
LOG_LEVEL=INFO

# Uvicorn
UVICORN_HOST=0.0.0.0
UVICORN_PORT=8000
UVICORN_WORKERS=4
UVICORN_TIMEOUT_KEEP_ALIVE=5
PROXY_HEADERS=True

# PostgreSQL
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres

DB_POOL_SIZE=20
DB_MAX_OVERFLOW=40
DB_ECHO=False
DB_POOL_PRE_PING=True

# Alembic
ALEMBIC_DDL_AUTO=update

# MongoDB
MONGO_DB_NAME=logs_db
MONGO_TIMEOUT_MS=5000
ENABLE_MONGO_LOGS=True
MONGODB_URL=mongodb://admin:replace_with_strong_mongo_password@mongodb:27017/?authSource=admin
